<form class="sign__form form">
    <h1 class="form__title">{{content.title}}</h1>
    <p class="form__subtext">{{content.subtext}}</p>
    {{#each content.fields}}
      {{> form__field name=this.name label=this.label type=this.type}}
    {{/each}}
    {{> form__submit submit=content.submit}}
    {{#with content.redirection}}
      <div class="form__redirect">
        {{#if this.question}}
          <span class="form__question">{{this.question}}</span>
        {{/if}}
        <a class="form__link" href={{this.href}}>{{this.title}}</a>
      </div>
    {{/with}}
</form>
