<div class="profile__field">
  <label class="profile__label" for="{{this.name}}">{{this.label}}</label>
  <input
    class="profile__input"
    type="{{this.type}}"
    name="{{this.name}}"
    id="{{this.name}}"
    value="{{this.value}}"
  />
</div>